defradb:
  host: "127.0.0.1"
  port: 9181
  p2p:
    enabled: true
    bootstrap_peers: []
    listen_addr: "/ip4/0.0.0.0/tcp/9182"
  store:
    path: ".defra"
  keyring_secret: "${DEFRA_KEYRING_SECRET}"

alchemy:
  api_key: "${ALCHEMY_API_KEY}"
  network: "${ALCHEMY_NETWORK}"

logger:
  development: true 

indexer:
  block_polling_interval: 0.0001  # 1 millisecond
  batch_size: 100
  start_height: 22190000  # More recent block with transactions